$icon: (
  coral: #ff6f61,
  tangerine: #ff8a65,
  pink: #ffb74d,
  banana: #ffd54f,
  sage-green: #fff176,
  sea-green: #aed581,
  peacock: #81c784,
  basil: #4db6ac,
  pale-blue: #4dd0e1,
  sky-blue: #4fc3f7,
  powder-blue: #64b5f6,
  purple: #7986cb,
  steel-blue: #9575cd,
  mauve: #ba68c8,
  tomato: #e57373,
  flamingo: #f06292,
  pale-turquoise: #a1887f,
  honeydew: #90a4ae,
);

$toast-light: (
  info: #53c5d5,
  success: #7fc97f,
  warning: #f2aa01,
  error: #f1414c,
);

$toast-dark: (
  info: #00819b,
  success: #5a9367,
  warning: #c59c00,
  error: #c84848,
);
