@font-face {
  font-family: IranYekan;
  font-weight: 400;
  src: url('@/assets/fonts/iran-yekan/iran-yekan-regular.ttf');
}

@font-face {
  font-family: IranYekan;
  font-weight: 700;
  src: url('@/assets/fonts/iran-yekan/iran-yekan-bold.ttf');
}

@font-face {
  font-family: IranYekan;
  font-weight: 900;
  src: url('@/assets/fonts/iran-yekan/iran-yekan-black.ttf');
}
